html {
    background-color: darkorange;
}
body{
    background-color: saddlebrown;
    width: 800px;
    margin: 20px auto;
    border-radius: 20px;
}

header{
    padding: 20px;
    text-align: center;
}

header img {
    display: block;
    margin: 20px auto;
    width: 30%;

}
nav{
    background-color: darkolivegreen;
    padding: 20px;
}
nav a{
    color: beige;
    font-size: 20px;
    margin: 0 20px;
}
nav a :hover{
    color: beige;
    text-decoration: wavy;
}
main{
    padding: 20px;
}

main img {
display: block;
margin: 20px auto;
width: 35%
}
footer{
    background-color: darkolivegreen;
    text-align: center;
    padding: 40px 0;
    border-radius: 0 0 20px 20px;
}
a{
    color: beige;

}
a:hover {
color: beige;
text-decoration: wavy;
}
h1,h2,h3{
color: darkgreen;
}

